In [58]:
import pandas as pd
import numpy as np

In [178]:
# print sys.argv
# if len(sys.argv) > 1:
#     csv = sys.argv[1]
# else:
csv = "data/verify_gen0.csv"
csv2 = "data/find_gen0.csv"

verify = pd.read_csv(csv, index_col=False)
find = pd.read_csv(csv2, index_col=False)
verify.sort_values('trial')

,rank_id,hit_id,assignment_id,worker_id,time,rank0,rank1,rank2,rank3,rank4,rank5,rank6,rank7,rank8,rank9,trial,gen
0,1,3VZYA8PITNXBI6P8RQU696IQDP850Q,3RRCEFRB7MBXTUMB13DMDF3FFZH4B0,A1ZD8RU6YB0VEU,2017-12-02 21:55:56+00,17,9,8,7,9999,24,18,12,30,-9999,0,0
7,8,3VZYA8PITNXBI6P8RQU696IQDP850Q,3TDXMTX3CBTLVP4VQ1YIW0R66G7I68,A36TQOAAAR7M9L,2017-12-02 22:03:41+00,17,18,7,8,9,12,9999,30,24,-9999,0,0
10,11,3VZYA8PITNXBI6P8RQU696IQDP850Q,3ATPCQ38J8988RV3KW1XYTNGSIVYAK,A30V1UH00MWJU5,2017-12-02 22:34:18+00,30,18,24,17,8,9999,12,9,7,-9999,0,0
13,14,38EHZ67RILR61HLZXR0VB0GS61OGMV,3T111IHZ5EPL679CEVV3U2JZJE0R90,A24B2ZZJ04FNDN,2017-12-02 23:07:59+00,9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,0,1
14,15,3UZUVSO3P6U8H3P8RWA7BXVGTL9MEK,3I02618YA05YEMH0ZEM5L36YVHMPUX,A24B2ZZJ04FNDN,2017-12-02 23:08:25+00,9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,0,1
3,4,3VGET1QSZZYJD04C8Q2OEL5Q50I7W9,3R6BYFZZP7BE4DM1QG1NTGRYNSDXFP,A1ZD8RU6YB0VEU,2017-12-02 21:56:35+00,9999,31,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
4,5,3VGET1QSZZYJD04C8Q2OEL5Q50I7W9,3IKZ72A5B4F9SJ8XOAEEVE00LE3NFV,A3T71W88062DB7,2017-12-02 21:58:40+00,9999,31,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
5,6,3VGET1QSZZYJD04C8Q2OEL5Q50I7W9,3LEIZ60CDJYU8YV3OCPGG5LYSUH9Z7,A36TQOAAAR7M9L,2017-12-02 21:59:54+00,9999,31,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
9,10,3VGET1QSZZYJD04C8Q2OEL5Q50I7W9,3NJM2BJS4W52SS00DN15RXKSOGDPCJ,A1LDYRTFF28GR,2017-12-02 22:21:47+00,9999,31,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
11,12,3VGET1QSZZYJD04C8Q2OEL5Q50I7W9,36WLNQG78Z9FLWJ4Q9PZM1F6SOCEBH,AVHJ2SNIMGZ91,2017-12-02 22:41:57+00,9999,31,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,1,0
1,2,30UZJB2POGB7ZYO5ADCPB4GXG1S53L,3DBQWDE4Y6XHQMF8IY15929NWKPN5C,A1ZD8RU6YB0VEU,2017-12-02 21:56:27+00,21,9999,22,19,25,34,29,26,20,-9999,2,0
2,3,30UZJB2POGB7ZYO5ADCPB4GXG1S53L,3XLBSAQ9Z4BQUF7A9FRW29USX4SZ7K,A2P2T7K63H0C7F,2017-12-02 21:56:28+00,26,29,19,25,21,22,20,9999,34,-9999,2,0
6,7,30UZJB2POGB7ZYO5ADCPB4GXG1S53L,33IZTU6J810N8IRNW01M0FADCI7XS8,A36TQOAAAR7M9L,2017-12-02 22:01:18+00,25,21,9999,20,26,29,19,34,22,-9999,2,0
8,9,30UZJB2POGB7ZYO5ADCPB4GXG1S53L,3PWWM24LHSX4OI9HUDAOTYGGNF0829,AK3DF1BXS8DSM,2017-12-02 22:04:00+00,34,29,26,25,22,21,20,19,9999,-9999,2,0
12,13,3HYV4299HZVTWEN4XV0O6FUL9GKE8O,3GGAI1SQEVXW7P3NL79DATQXJC4CME,A1OU2FW26L47VV,2017-12-02 23:06:44+00,21,22,26,29,34,25,20,19,9999,-9999,2,0

In [71]:
# The world's worst funciton
'''
for trial in results.trial.unique():
    trial_results = results[results.trial == trial]
    ids = []
    places = {}
    # Get unique ids
    for rank in range(10):
        # print trial_results['rank%i'%rank].head(n=1).values[0]
        ids.append(trial_results['rank%i'%rank].head(n=1).values[0])
    
    ids = list(set(ids))
    for id_ in ids:
        places[id_] = []
        
    for i, HIT in trial_results.iterrows():
        for rank in range(10):
            places[HIT['rank%i'%rank]].append(rank)
    
    sort = {}
    for id_ in places:
        if id_ != -9999:
            sort[id_] = np.mean(places[id_])
    
    print min(sort, key=sort.get)
'''

17
21
9999

In [117]:
ranks = ['rank%i' % i for i in range(10)]
crosstab = pd.melt(verify, ['rank_id', 'trial'], ranks)
crosstab.head()

rank_words = ['rank0', 'rank1', 'rank2', 'rank3', 'rank4', 'rank5', 'rank6',
       'rank7', 'rank8', 'rank9']

crosstab['rank'] = crosstab['variable'].apply(lambda x: rank_words.index(x))

In [100]:
crosstab.variable.unique()

array(['rank0', 'rank1', 'rank2', 'rank3', 'rank4', 'rank5', 'rank6',
       'rank7', 'rank8', 'rank9'], dtype=object)

In [205]:
grouped = crosstab.groupby(['trial', 'value'])['rank'].mean()
grouped = grouped.reset_index()

for trial in grouped.trial.unique():
    print "\nBEST FOR TRIAL %i: " % trial,
    best_id = grouped[grouped.trial == trial].sort_values('rank')['value'].head(n=1).values[0]
    print best_id
    if best_id == 9999:
        print find[find.trial == trial].original.head(n=1).values[0]
    else:
        print find[find.find_id == best_id].updated.values[0]

BEST FOR TRIAL 0:  17
There is a brown tarp on the sidewalk next to a food cart with a red and yellow umbrella.

BEST FOR TRIAL 1:  9999
Find the trash can right next to a tree.

BEST FOR TRIAL 2:  21
Find the yellow sign with the animal on it.

,find_id,hit_id,assignment_id,worker_id,original,updated,time,pitch,heading,trial,gen,zoom,find_time,invalid_count,valid_count
21,17,334ZEL5JX5EXRPF2579PSIO0PCQSOZ,3T3IWE1XG6M4EL3QZMBKGCA6HYNTQL,A1C8FN01981A69,Find a brown tarp.,There is a brown tarp on the sidewalk next to ...,2017-12-02 17:19:28+00,-11.312575,77.529768,0,0,1.0,14.32,0,6